{% extends 'base.html.twig' %}

{% block title %}Deal index{% endblock %}

{% block body %}
    <div>
        <div class="row">
        {% for deal in deals %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ deal.image }}" class="card-img-top" alt="{{ deal.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ deal.title }}</h5>
                        <p class="card-text">{{ deal.description }}</p>
                        <p class="card-text">Prix : {{ deal.price }}€</p>
                        <a href="{{ deal.url }}" class="btn btn-primary">Voir le deal</a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}
