{% extends 'base.html.twig' %}

{% block title %}Deal index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="{{ asset('css/deal/index.css') }}">
    <style>
        .full-height {
            height: 100vh;
        }

        .central-section {
            padding-left: calc(15% - 5px);
            border-right: 1px solid #ccc;
        }

        .object-fit-cover {
            object-fit: cover;
        }
    </style>
{% endblock %}

{% block body %}
    {% block nav %}
        {% include 'deal/deal_navbar.html.twig' %}
    {% endblock %}
    <div class="container-fluid full-height">
    <div class="row full-height">
        <div class="col-9" style="padding-left: calc(15% - 5px)">
            <!-- Partie centrale de la page (3/4 de la largeur, hauteur maximale) -->
            <div class="h-100 text-white p-3">
                {% for deal in deals %}
                    <div style="margin-top: 15px; margin-bottom: 15px">
                        <div class="card h-60 animate__animated animate__fadeInUp">
                            <div class="row g-0">
                                <div class="col-md-4 d-flex align-items-center">
                                    <div class="h-100 w-100" style="position: relative;">
                                        <img src="{{ vich_uploader_asset(deal, 'imageFile') }}"
                                             class="card-img h-100 object-fit-cover" alt="{{ deal.imageName }}">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center" {{ stimulus_controller('deal', {'deal': deal.id}) }} {{ stimulus_target('deal', 'deal', deal.id) }}>
                                            <div class="d-flex justify-content-between"
                                                 style="border: 1px solid #000; padding: 5px; border-radius: 15px;">
                                                {% set isUserVoted = deal.votedUsers.contains(currentUser) %}
                                                <button id="button1{{ deal.id }}" class="btn btn-sm minus-btn"
                                                        style="font-weight: bold; color: blue; border: none; margin-right: 2px; {% if isUserVoted or app.user is null %}visibility: hidden;{% endif %}"
                                                        data-deal-id="{{ deal.id }}">
                                                    <i class="fa-solid fa-minus" style="color: #1683d3;"></i>
                                                </button>
                                                {% set noteColor = deal.note > 50 ? 'text-danger' : (deal.note > 20 ? 'text-warning' : (deal.note < 0 ? 'text-info' : (deal.note < 25 ? 'text-primary' : ''))) %}
                                                <h5 id="note{{ deal.id }}"
                                                    class="card-text {{ noteColor }} font-weight-bold"
                                                    style="margin-right: 5px;">{{ deal.note }}°</h5>
                                                <button id="button2{{ deal.id }}" class="btn btn-sm plus-btn"
                                                        style="font-weight: bold; color: red; border: none; margin-left: 2px; {% if isUserVoted or app.user is null %}visibility: hidden;{% endif %}"
                                                        data-deal-id="{{ deal.id }}">
                                                    <i class="fa-solid fa-plus" style="color: #e40e0e;"></i>
                                                </button>
                                            </div>

                                            <a href="{{ path('deal_report', {'id': deal.id}) }}"
                                               class="btn btn-sm btn-outline-danger ml-auto"
                                               style="font-weight: bold; margin-right: 5px;">
                                                <i class="fa-solid fa-flag"></i>
                                            </a>
                                            {% set isUserLiked = deal.likedUsers.contains(currentUser) %}
                                            <button
                                                    {{ stimulus_action('deal', 'like') }}
                                                    class="btn btn-sm btn-outline-secondary {% if isUserLiked %} active {% endif %}"
                                                    aria-pressed="{{ isUserLiked == 1 ? "true" : "false" }}"
                                                    data-toggle="button"
                                                    style="font-weight: bold; margin-right: 5px;">
                                                <i class="fa-solid fa-bookmark"></i>
                                            </button>

                                        </div>
                                        <h3 class="card-title mt-3 font-weight-bold"
                                            style="color: black">{{ deal.title }}</h3>
                                        <p class="card-text text-muted">
                                            <span class="font-weight-bold">Regular Price:</span> <s>{{ deal.normalPrice }}€</s>
                                            <span class="font-weight-bold"
                                                  style="color: black; margin-left: 10px;">{{ deal.price }}€</span>
                                        </p>
                                        <div class="d-flex justify-content-between align-items-center mt-3">
                                            <a href="{{ deal.link }}" class="btn btn-primary btn-lg rounded-pill mr-3">
                                                Voir le Deal
                                                <i class="fa-solid fa-arrow-up-right-from-square ml-2"></i>
                                            </a>
                                            <button class="btn btn-outline-secondary btn-lg border-dashed">Copy Promo
                                                Code
                                            </button>
                                        </div>
                                        <p class="card-text mt-3" style="color: black">{{ deal.description }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a href="{{ path('deal_show', {'id': deal.id}) }}" class="btn btn-primary btn-block">Voir
                                    la page du Deal</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-12">
                        <div class="alert alert-info">No records found.</div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-3 container-fluid" style="padding-right: calc(4% - 5px);">
            <div class="row justify-content-center mt-5">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title text-center">Les plus HOT !</h5>
                        </div>
                        <div id="card-container" class="card-body">
                            {% for deal in hotDeals %}
                                <div class="card mb-3 shadow-sm">
                                    <div class="row g-0">
                                        <div class="col-md-12">
                                            <div class="card-body">
                                                <h5 class="card-title font-weight-bold">{{ deal.title }}</h5>
                                                <div class="d-flex mb-2">
                                                    <div>
                                                        <span class="text-danger font-weight-bold">{{ deal.note }}°</span>
                                                    </div>
                                                </div>
                                                <p class="card-text">{{ deal.description }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Chargement du script Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.minus-btn').click(function () {
                var dealId = $(this).data('deal-id');

                fetch('/deal/' + dealId + '/decrement', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({dealId: dealId})
                })
                    .then(response => response.json())
                    .then(data => {
                        $("#note" + dealId).text(data.note);
                        $("#button1" + dealId).attr("disabled", true);
                        $("#button2" + dealId).attr("disabled", true);
                    })
                    .catch(error => {
                        console.log(error);
                    });
            });

            $('.plus-btn').click(function () {
                var dealId = $(this).data('deal-id');
                console.log(dealId);

                fetch('/deal/' + dealId + '/increment', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({dealId: dealId})
                })
                    .then(response => response.json())
                    .then(data => {
                        $("#note" + dealId).text(data.note);
                        $("#button1" + dealId).attr("disabled", true);
                        $("#button2" + dealId).attr("disabled", true);
                    })
                    .catch(error => {
                        console.log(error);
                    });
            });
        });
    </script>
{% endblock %}