{% extends 'base.html.twig' %}

{% block title %}Deal{% endblock %}

{% block body %}
    <div class="container">
        <h1>Deal</h1>

        <div class="card animate__animated animate__fadeInUp">
            <div class="card-body">
                <h3 class="card-title">{{ deal.title }}</h3>
                <p class="card-text">Temperature: {{ deal.note }}</p>
                <p class="card-text">Price: {{ deal.price }}</p>
                <p class="card-text">Description: {{ deal.description }}</p>
                <p class="card-text">Link: <a href="{{ deal.link }}">{{ deal.link }}</a></p>
            </div>
        </div>

        <div class="text-center mt-3">
            <a href="{{ path('deal_index') }}" class="btn btn-secondary animate__animated animate__fadeInUp">Back to list</a>
        </div>

        <div class="text-center mt-3">
            <a href="{{ path('deal_edit', {'id': deal.id}) }}" class="btn btn-primary animate__animated animate__fadeInUp">Edit</a>
        </div>

        {{ include('deal/_delete_form.html.twig') }}
    </div>
{% endblock %}