{{ form_start(form) }}
<div class="form-group">
    <label for="username">Pseudo</label>
    {{ form_widget(form.username, {'attr': {'class': 'form-control', 'id': 'username'}}) }}
</div>
<div class="form-group">
    <label for="email">Email</label>
    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'id': 'email'}}) }}
</div>
<button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}