{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="{{ asset('css/deal/index.css') }}">
    <style>
        .full-height {
            height: 100vh;
        }
        .object-fit-cover {
            object-fit: cover;
        }
    </style>
{% endblock %}

{% block body %}
    {% include 'user/profile_navbar.html.twig' %}
    <div class="container full-height">
    <div class="row">
        <div class="col">
            <div class="card h-100 bg-grey mt-3">
                <div class="card-header text-center">
                    <h3 class="">Deals sauvegardés</h3>
                </div>
                {% for deal in deals %}
                    <div style="margin-top: 10px; margin-bottom: 15px" class="px-4">
                        <div class="card h-60 animate__animated animate__fadeInUp">
                            <div class="row g-0">
                                <div class="col-md-4 d-flex align-items-center">
                                    <div class="h-100 w-100" style="position: relative;">
                                        <img src="{{ vich_uploader_asset(deal, 'imageFile') }}"
                                             class="card-img h-100 object-fit-cover" alt="{{ deal.imageName }}">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center" {{ stimulus_controller('deal', {'deal': deal.id}) }} {{ stimulus_target('deal', 'deal', deal.id) }}>
                                            <div class="d-flex justify-content-between"
                                                 style="border: 1px solid #000; padding: 5px; border-radius: 15px;">
                                                {% set isUserVoted = deal.votedUsers.contains(user) %}
                                                <button id="button1{{ deal.id }}" class="btn btn-sm minus-btn" style="font-weight: bold; color: blue; border: none; margin-right: 2px;" {% if isUserVoted %}disabled{% endif %} data-deal-id="{{ deal.id }}">
                                                    <i class="fa-solid fa-minus" style="color: #1683d3;"></i>
                                                </button>
                                                {% set noteColor = deal.note > 50 ? 'text-danger' : (deal.note > 20 ? 'text-warning' : (deal.note < 0 ? 'text-info' : (deal.note < 25 ? 'text-primary' : ''))) %}
                                                <h5 id="note{{ deal.id }}" class="card-text {{ noteColor }} font-weight-bold"
                                                    style="margin-right: 5px;">{{ deal.note }}</h5>
                                                <button id="button2{{ deal.id }}" class="btn btn-sm plus-btn"
                                                        style="font-weight: bold; color: red; border: none; margin-left: 2px; {% if isUserVoted %}disabled{% endif %}"  {% if isUserVoted %}disabled{% endif %} data-deal-id="{{ deal.id }}">
                                                    <i class="fa-solid fa-plus" style="color: #e40e0e;"></i>
                                                </button>
                                            </div>

                                            <a href="{{ path('deal_report', {'id': deal.id}) }}"
                                               class="btn btn-sm btn-outline-danger ml-auto"
                                               style="font-weight: bold; margin-right: 5px;">
                                                <i class="fa-solid fa-flag"></i>
                                            </a>
                                            {% set isUserLiked = deal.likedUsers.contains(user) %}
                                            <button
                                                    {{ stimulus_action('deal', 'like') }}
                                                    class="btn btn-sm btn-outline-secondary {% if isUserLiked %} active {% endif %}"
                                                    aria-pressed="{{ isUserLiked == 1 ? "true" : "false" }}"
                                                    data-toggle="button"
                                                    style="font-weight: bold; margin-right: 5px;">
                                                <i class="fa-solid fa-bookmark"></i>
                                            </button>

                                        </div>
                                        <h3 class="card-title mt-3 font-weight-bold"
                                            style="color: black">{{ deal.title }}</h3>
                                        <p class="card-text text-muted">
                                            <span class="font-weight-bold">Regular Price:</span> {{ deal.normalPrice }}€
                                            <span class="font-weight-bold"
                                                  style="color: black; margin-left: 10px;">{{ deal.price }}€</span>
                                        </p>
                                        <div class="d-flex justify-content-between align-items-center mt-3">
                                            <a href="{{ deal.link }}" class="btn btn-primary btn-lg rounded-pill mr-3">
                                                Voir le Deal
                                                <i class="fa-solid fa-arrow-up-right-from-square ml-2"></i>
                                            </a>
                                            <button class="btn btn-outline-secondary btn-lg border-dashed">Copy Promo
                                                Code
                                            </button>
                                        </div>
                                        <p class="card-text mt-3" style="color: black">{{ deal.description }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a href="{{ path('deal_show', {'id': deal.id}) }}" class="btn btn-primary btn-block">Voir
                                    la page du Deal</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-12">
                        <div class="alert alert-info">No records found.</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Chargement du script Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(".profile-navbar").find(".active").removeClass("active");
        $(".profile3").addClass("active");

        $(document).ready(function() {
            $('.minus-btn').click(function() {
                var dealId = $(this).data('deal-id');

                fetch('/deal/' + dealId + '/decrement', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ dealId: dealId })
                })
                    .then(response => response.json())
                    .then(data => {
                        $("#note" + dealId).text(data.note);
                        $("#button1" + dealId).attr("disabled", true);
                        $("#button2" + dealId).attr("disabled", true);
                    })
                    .catch(error => {
                        console.log(error);
                    });
            });

            $('.plus-btn').click(function() {
                var dealId = $(this).data('deal-id');
                console.log(dealId);

                fetch('/deal/' + dealId + '/increment', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ dealId: dealId })
                })
                    .then(response => response.json())
                    .then(data => {
                        $("#note" + dealId).text(data.note);
                        $("#button1" + dealId).attr("disabled", true);
                        $("#button2" + dealId).attr("disabled", true);
                    })
                    .catch(error => {
                        console.log(error);
                    });
            });
        });
    </script>
{% endblock %}