{% extends 'base.html.twig' %}



{% block body %}
    {% block nav %}
        {% include 'user/profile_navbar.html.twig' %}
    {% endblock %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-3">
                <div class="card animate__animated animate__fadeInUp cr">
                    <div class="card-header text-center chr">
                        <h4><i class="fa-solid fa-chart-simple mx-1"></i> Statistiques </h4>
                    </div>
                    <div class="card-body">
                        <h5>Posts</h5>
                        <table>
                            <tr><td><i class="fa-solid fa-tag mx-2"></i>{{ user.deals|length}} deals</td></tr>
                            <tr><td><i class="fa-solid fa-comment mx-2"></i>{{ user.comments|length }} commentaires</td></tr>
                            <tr><td><i class="fa-solid fa-bookmark mx-2"></i>{{ user.likedDeals|length }} deals likés</td></tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card animate__animated animate__fadeInUp cr">
                    <div class="card-header text-center chr">
                        <h4><i class="fa-solid fa-star mx-1"></i> Badges </h4>
                    </div>
                    <div class="card-body">
                        {% for badge in user.badges %}
                            <div class="card animate__animated animate__fadeInUp cr mt-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <i class="{{ badge.icon }} fa-2xl"></i>
                                        </div>
                                        <div class="col-md-11">
                                            <h5>{{ badge.name }}</h5>
                                            <span>{{ badge.description }}</span>
                                            {% if badge.name == "Surveillant" %}
                                                {% set value = user.votedDeals|length %}
                                            {% elseif badge.name == "Cobaye"%}
                                                {% set value = user.deals|length %}
                                            {% else %}
                                                {% set value = user.comments|length %}
                                            {% endif %}
                                            {{ value }}
                                            <progress id="file" max="{{ badge.goal }}" value="{{ value }}">{{ value }} / {{ badge.goal }} </progress>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% for badge in badges %}
                            <div class="card animate__animated animate__fadeInUp cr mt-3">
                                {% if badge.name == "Surveillant" %}
                                    {% set value = user.votedDeals|length %}
                                    {% set percent = value/3%}
                                {% elseif badge.name == "Cobaye"%}
                                    {% set value = user.deals|length %}
                                    {% set percent = value*10 %}
                                {% else %}
                                    {% set value = user.comments|length %}
                                    {% set percent = value %}
                                {% endif %}
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <i class="{{ badge.icon }} fa-2xl mt-2"></i>
                                        </div>
                                        <div class="col-md-11">
                                            <h5>{{ badge.name }}</h5>
                                            <div class="progress mb-1">
                                                <div class="progress-bar" role="progressbar" style="width: {{ percent }}%" aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="{{ badge.goal }}">{{ value }} / {{ badge.goal }}</div>
                                            </div>
                                            <span>{{ badge.description }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
